<div class="col-lg-12 mt-3">
    <h1>{{pageTitle}}</h1>
    <hr>

    <div class="alert alert-success col-md-15 mt-3 text-center" *ngIf="status == 'success'">
       Te has identificado correctamente.
    </div>
    <div class="alert alert-danger col-md-15 mt-3 text-center" *ngIf="status == 'error'">
        Los datos de acceso son incorrectos. Vuelva a intentarlo
    </div>

    <form action="" class="col-md-5 ml-0 pl-0" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <div class="form-group">
            <label for="email"><strong>Email:</strong></label> <span>{{user.email}}</span> 
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control">
    
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es válido
            </small>
        </div>
    
        <div class="form-group">
            <label for="password"><strong>Contraseña:</strong></label> 
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control">
    
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                La contraseña no es válida
            </small>
        </div>
    
        <input type="submit" value="Identificarse" class="btn btn-info" [disabled]="loginForm.invalid">
    
    </form>
</div>

