<div class="col-lg-12 mt-3" >
    <h1>{{pageTitle}}</h1>
    <hr>

    <div class="alert alert-success col-md-15 mt-3 text-center" *ngIf="status == 'success'">
        Los cambios se han guardado correctamente
    </div>
    <div class="alert alert-danger col-md-15 mt-3 text-center" *ngIf="status == 'error'">
        No se han podido actualizar los datos
    </div>

    <form action="" class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">

        <div class="form-group">
            <label for="name"><strong>Nombre:</strong></label> 
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control">

            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="surname"><strong>Apellidos:</strong></label> 
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control">

            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                Los apellidos no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="email"><strong>Email:</strong></label> 
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control">

            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="avatar"><strong>Avatar:</strong></label> 
            <angular-file-uploader 
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>
        </div>

        <input type="submit" value="Actualizar" class="btn btn-info" [disabled]="userEditForm.invalid">

    </form>

</div>